<!DOCTYPE html>
<html>
  <% include header %>
  <body>
  	<% include navbar %>

  	<!-- content -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <% include footer %>
  </body>
</html>
