<!DOCTYPE html>
<html>
  <head>
  <% include header %>
  </head>
  <body>
  	<% include navbar %>

  	<!-- content -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% include footer %>
  </body>
</html>
